#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.brandx-logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.brandx-logo:hover {
  filter: drop-shadow(0 0 2em #3b82f6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
